/* Add styles here to make the soundboard actually look like a soundboard! */

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#drumkit {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  background-color: gray;
  padding: 1rem;
  max-width: min-content;
  border: 3px solid black;
  border-radius: 10px;
  outline: 4px solid darkgray;
  box-shadow: 0px 2px 10px 2px black;
}

button {
  width: 20rem;
  height: 20rem;
  color: yellow;
  font-size: 50px;
  font-weight: bolder;
  background-color: red;
  border: 2px solid black;
  border-radius: 10rem;
  outline: 2px solid darkgray;
  box-shadow: 2px black;
}
